extends ./layout.jade
block contenido
  div(class="col-md-8 remove-float center-block text-center big-top-space")
    img(src="../public/imagenes/admin_img/learn_main.PNG" class="img-rounded")
    h1(class="montserrat big-text") Learn & Fun  
      i(class="fa fa-book") 
    h2(class="medium-text") Welcome to the best place to learn
    a(href="/login" class="right-space small-text") Log in
    a(href="/signup" class="small-text" ) Sign up
