extends ./layout.jade
block contenido
  div(class="col-md-6 remove-float center-block big-top-space")
    h1(class="text-center") Log in
      i(class="fa fa-user-circle")
    h2(class="medium-text text-center") Get ready to learn!  
    br
    form(action="/sessions", method="POST", class="text-center")
      div(class="form-group")
        label(for="username") Username
        input(type="text",  class="input-width center-block", name="username", placeholder="Username", id="username", class="form-control")
      div
        label(for="password") Password
        input(type="password",class="input-width center-block" name="password", placeholder="Password", id="password", , class="form-control")
      div(class="row top-space" )
        div(class="col-md-6")
          a(href="signup" class="left-space") I don't have an account 
        div(class="col-md-6") 
          input(type="submit" id="submit" value="Log in" class="btn btn-info big-right-space")
